body{
    text-align: center;
    width: 900px;
    border-color: #d1ff32;
}

ul{
    text-align: left;
}

section{
    display: inline;
    float: left;
}

#secResults{
   	float: right;
}

button{
    padding : 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    width: 200px;
}

li{
    padding-top: 15px; 
    list-style-type: none;
}

nav ul{
    text-align: left;
}

nav ul a{

}

nav ul li{
    display: inline;
    margin-right: 20px;
    font-size: 15pt;
    font-style: italic;

}

#containerResults ul{
    text-align: left;
}

#containerResults td{
    padding-top: 2px;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 26px;
    padding-right: 16px;
}

#containerResults p{
    display: inline-block;
    padding-top: 5px;
    margin-right: 25px;
    margin-bottom : 2px;
}

#resultListTitle{
    font: bold;
}

#resultLabels{
    text-align: left;
    margin-right: 0px;
    margin-left: 25px;
}
